:root {
    --cl-pink: #e372ba;
}
.sun {
    position: absolute;
    top: 0;
    right: 0;
}
.bee {
    position: absolute;
    top: 50%;
    left: -120px;
    width: 120px; 
    height: auto; 
    animation: fly 7s linear; 
}
.flower {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
@keyframes fly {
    0% { 
        transform: translateY(0) translateX(0) ;
    }
    25% {
        transform: translateY(-30px) translateX(20vw) ;
    }
    50% {
        transform: translateY(-60px) translateX(40vw) ;
    }
    75% {
        transform: translateY(-30px) translateX(60vw) ;
    }
    100% {
        transform: translateY(0) translateX(150vw) ;
    }
}
.letter-img {
    display: none;
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    
}
.letter-img img{
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
#exampleModal{
    color: var(--cl-pink);
}